.wrapper { width: 1170px; margin: 0px auto; }
.row-single-fied .code { width: 32%; float: left; }
.row-single-fied .phone { width: 63%; float: left; margin-left: 2%; }
.section-title { text-align: center; font-family: raleway; background: url("images/title-border.jpg") center bottom no-repeat transparent; padding: 0px 0px 20px; margin: 0px auto 10px; max-width: 1170px; }
.section-title span { font-weight: 300; }
.section-title h6 { color: rgb(107, 107, 107); font-size: 16px; margin: 0px; }
.section-title h4 { font-size: 32px; color: rgb(34, 34, 34); font-weight: 600; font-family: Raleway; margin: 0px 0px 10px; }
.footer-contact .phone span { background-position: -204px -356px; }
.footer-social .google, .footer-social .google:hover { position: relative; top: 0px; background: url("images/googleico.jpg") 0px 0px / 30px 30px no-repeat transparent !important; }
.footer-social .facebook, .footer-social .facebook:hover { background-position: -204px -272px; }
.footer-social .twitter, .footer-social .twitter:hover { background-position: -284px -272px; }
.footer-social .linkedin, .footer-social .linkedin:hover { background-position: -324px -272px; }
.content-inner { clear: both; display: block; margin: 0px auto; max-width: 90%; overflow: hidden; padding: 40px 0px; }
.content-inner .section-title { margin: 10px 0px 30px; }
.field.pc { position: relative; transition: all 0s ease-in-out; }
.your-email input { background: url("images/form-email.png") 10px center no-repeat rgb(246, 246, 246) !important; }
.social-links .linkedin { background-position: -90px 0px; }
.social-links .google { background-position: -135px 0px; }
.social-links .twitter { background-position: -45px 0px; }
.social-links a { display: block; background: url("images/social-sprite.png") 0px 0px no-repeat transparent; width: 33px; height: 33px; text-indent: -9999px; cursor: pointer; margin: 0px 10px 0px 0px; float: left; }
.social-links .linkedin:hover { background-position: -90px -70px; }
.social-links .linkedin { background-position: -90px 0px; }
.social-links .google { background-position: -135px 0px; }
.social-links .twitter { background-position: -45px 0px; }
.social-links .google:hover { background-position: -135px -70px; }
.social-links .twitter:hover { background-position: -45px -70px; }
.social-links .facebook:hover { background: url("images/social-sprite.png") 0px -70px no-repeat transparent; }
.social-links a { display: block; background: url("images/social-sprite.png") 0px 0px no-repeat transparent; width: 33px; height: 33px; text-indent: -9999px; cursor: pointer; margin: 0px 10px 0px 0px; float: left; }
.contact-info div { padding: 10px 0px; color: rgb(107, 107, 107); font-size: 14px; }
.contact-info > div + div { border-top: 1px solid rgb(211, 211, 211); }
.contact-info h6 { color: rgb(0, 0, 0); margin: 0px 0px 11px; font-size: 14px; font-weight: 600; font-family: "Open sans", arial, sans-serif; }
.contact-content { overflow: hidden; }
.contact-left a { color: rgb(107, 107, 107); }
.contact-left { float: left; width: 560px; max-width: 100%; }
.contactinfo-phone { background: url("images/contact-sprite.jpg") 0px -102px no-repeat transparent; padding-left: 35px !important; }
.contactinfo-email { background: url("images/contact-sprite.jpg") 0px -201px no-repeat transparent; padding-left: 35px !important; }
.contactinfo-chat { padding-left: 35px; }
.social-links { overflow: hidden; padding: 0px !important; }
.cform-row label { font-size: 14px; display: block; margin: 0px 0px 5px; }
.row-single-fied { display: inline-block; width: 48%; margin: 10px 0px; font-size: 13px; }
.row-single-fied input { background: rgb(247, 247, 247); border: 1px solid rgb(205, 205, 205); padding: 6px 10px; display: block; width: 100%; }
.contact-right h4 { font-size: 24px; font-weight: 600; font-family: raleway, sans-serif; }
.contact-right { float: right; width: 560px; padding: 20px 0px; }
.cform-row textarea { background: rgb(247, 247, 247); border: 1px solid rgb(205, 205, 205); padding: 6px 10px; display: block; width: 520px; height: 100px; }
.cform-row { padding: 5px 0px; }
.cform-row input[type="submit"] { background: url("images/submit.jpg") 0px 0px no-repeat scroll rgba(0, 0, 0, 0); cursor: pointer; display: block; float: right; height: 43px; margin: 0px 16px 0px 0px; text-indent: -9999px; width: 144px; }
.entry-content h4 { font-size: 20px; font-weight: bold; margin: 20px 0px 4px; }
.post-225 .entry-content { text-align: center; }
.section-title h1, .section-title h2 { font-weight: 600; }
.content-customized .wrapper { background: url("images/shades-bottom.jpg") left bottom / 30% no-repeat transparent; width: 100%; height: 739px; }
.page-template-template-thankyou .entry-content { text-align: center; }
.page-template-template-thankyou .entry-content p { font-size: 14px; text-transform: uppercase; font-weight: 600; line-height: 30px; }
.page-id-853 .content-inner { min-height: 500px; margin: 40px auto; }
.cform-row select { background: rgb(247, 247, 247); border: 1px solid rgb(170, 170, 170); padding: 6px; min-width: 522px; display: block; }
.single-industry .content-main h6 { color: rgb(0, 0, 0); font-size: 11px; margin: 0px !important; }
.page-template-template-newlp-thankyou .entry-content { text-align: center; }
.pack-lps .content-inner { margin: 45px auto 20px; }